$color-text : #374A59;

body {
  background: #F2F2F2;
}





 
.main {
  margin: 16px;
}


h2{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 62px;
  color: $color-text;
  
}

h3{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: $color-text;
  
}

h5{
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: $color-text;
  
}
h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $color-text;

}

::selection {
  background-color: none !important;
}

.fs-fixed-button {
  position: fixed;
  right: 32px;
  bottom: 32px;
}

.fs-fixed-button button {
  /* primaria */
  width: 152px;
  height: 56px;
  border: none;
  padding: 16px;
  background: #3741BF;
  text-decoration: none;
  /* picker */
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  /* P - TEXTO NORMAL - BOLD (16px) */
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* Gray 6 */
  color: #F2F2F2;
}

.fs-fixed-button button:hover {
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  background: #222881;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  padding: 0px;
}

.fs-search-icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.bg-primary {
  background-color: #2E3590 !important;
  color: #FFFFFF !important;
}

.bg-green {
  background-color: #27AE60 !important;
  color: #FFFFFF !important;
}

.bg-red {
  background-color: #EB5757 !important;
  color: #FFFFFF !important;
}

.title {
  background-color: blue;
  text-align: center;
}

.user-name {
  color: #FFFFFF;
}

.icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.box-input {
  margin: 16px 0px 16px 0px;
}

.menu {
  background-color: #E8E6F2 !important;
  color: #333333 !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

.menu-primary {
  background-color: #2E3590;
  padding-top: 16px;
}

.menu-primary .icon {
  color: #FFFFFF !important;
  font-size: 24px !important;
}

.logo img {
  max-width: 120px !important;
}

.fs-style-h6 {
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
  max-width: 200px;
  min-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fs-style-h6-small {
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
}

.fs-style-h6-tiny {
  font-weight: bold;
  font-size: 16px;
  margin: 0px;
}

.fs-card-value {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #FFFAFA;
  padding: 8px;
  /* card-simple */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.fs-lg-icon {
  width: 100px;
  height: 100px;
  padding: 16px;
}

.info-value {
  margin: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-icon {
  margin: 16px;
}

.fs-right-side {
  position: relative;
  padding: 16px;
  background: #FFFAFA;
  /* Gray 5 */
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  /* card-simple */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  max-height: 100%;
  min-height: 100%;
}

.fs-right-side .info-center {
  max-height: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  padding: 8px 0px 8px 0px;
}

.fs-right-side .fs-box-info {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.fs-right-side .fs-info-vendedor {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.fs-right-side .fs-info-vendedor .fs-icon-info {
  display: flex;
}

.fs-right-side .fs-info-vendedor .fs-icon-bateria {
  display: flex;
}

.fs-legenda {
  /* LENGENDA (10px) */
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
}

.fs-line-info {
  display: flex !important;
  justify-content: space-around !important;
}

.fs-line-icon {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.fs-right-side .legenda {
  /* LENGENDA (10px) */
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  white-space: nowrap;
  /* identical to box height */
  /* Gray 1 */
  color: #333333;
}

.fs-right-side .fs-card-vendedor {
  margin-top: 8px;
  display: flex;
  background: #F2F2F2;
  /* card-simple */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.fs-right-side .fs-card-vendedor .fs-box-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.fs-right-side .fs-card-vendedor .fs-box-avatar h6 {
  white-space: nowrap;
}

.fs-right-side .fs-card-vendedor .fs-box-avatar .fs-avatar {
  border-radius: 100px;
  border: 1px solid #585DA6;
  background-color: #F2F2F2;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-right-side .fs-card-vendedor .fs-box-avatar .fs-avatar span {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #333333;
  margin: 0px;
  padding: 0px;
}

.fs-right-side .btn-detail {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #2E3590;
  padding: 8px;
  border-radius: 0px 10px 10px 0px;
}

.fs-right-side .list-card-vendedor {
  position: relative;
  max-height: 550px;
  overflow-y: auto;
}

.fs-right-side .fs-box-pagination {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 16px;
  display: flex !important;
  justify-content: center !important;
  align-items: flex-end !important;
}

.fs-box-map {
  padding: 32px;
  margin-top: 16px;
  background: #FFFAFA;
  /* card-simple */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  width: 100%;
}

.fs-map-profile {
  margin-top: 32px;
  max-width: 100%;
}

.fs-box-map h5 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #374A59;
}

.fs-box-map .map {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  max-width: 100%;
}

.fs-box-pagination a {
  background-color: #E8E6F2 !important;
  color: #333333 !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

.fs-box-pagination a:hover {
  background-color: #d1d1d3 !important;
  color: #333333 !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

.fs-box-pagination .active {
  background-color: #808080 !important;
  color: #FFF !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

.fs-box {
  padding: 16px;
  background: #FFFAFA;
  /* Gray 5 */
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  /* card-simple */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  margin-bottom: 16px;
}

.fs-box-chart {
  padding: 16px;
  background: #FFFAFA;
  /* Gray 5 */
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  /* card-simple */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.fs-box-chart .chart-container {
  padding: 32px;
}

#container-profile {
  padding: 16px;
}

#container-profile .fs-box-column {
  padding: 16px;
  background: #FFFAFA;
  border-radius: 10px;
}

#container-profile .fs-box-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFAFA;
  border-radius: 10px;
  padding: 16px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.16));
}

#container-profile .fs-box-avatar p {
  white-space: nowrap;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* Gray 2 */
  color: #4F4F4F;
}

#container-profile .fs-box-avatar .fs-avatar {
  border-radius: 100px;
  border: 1px solid #585DA6;
  background-color: #F2F2F2;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container-profile .fs-box-avatar .fs-avatar span {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #333333;
  margin: 0px;
  padding: 0px;
}

#container-profile .fs-box-value {
  background: #FFFAFA;
  border-radius: 10px;
}

#container-profile .fs-card-value {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #FFFAFA;
  padding: 8px;
  /* card-simple */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  height: 100%;
}

#container-profile .fs-lg-icon {
  width: 80px;
  height: 80px;
}

.fix-padding {
  padding: 0 !important;
  padding: 8px !important;
}

#fs-chart-withoutdata{

  h6{
    margin: 32px 0px 32px 0px;
  }

  .box-img{
    
    display: flex;
    justify-content: center;
  }

  .box-img img{
    width: 150px;
  }

  .fs-text-notfound{
    margin-top: 32px;
    display: flex;
    justify-content: center;
  
  }
.box-button{
  
  margin-top: 32px;
  display: flex;
  justify-content: center;
  button{
    cursor: pointer;
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 150px;
  
    /* primaria */
    background: #3741BF;
    /* button */
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
  
    /* Gray 6 */
    color: #F2F2F2;
    }
}
}

#fs-icon-map .fs-avatar{
  background-color: #3741BF;
  border: 2px solid #F2C94C;

  span{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */
  
    text-align: center;
  
    /* Gray 6 */
  
    color: #F2F2F2;
  }
}


/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.scss.map */
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.scss.map */
